body{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    align-items: center;
    justify-content: center;
}
div{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#img{
    display: flex;
    width: 150px;
    right: 150px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: rgb(0, 0, 172);
}
:root{
    --cor-de-fundo:black
    --cor-pontos:white
    --tamanho:5px
}
.carregando{
    background-color: var(--cor-de-fundo);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; left: 0;
    z-index: 1000;
    overflow: hidden;
    display: block;
    align-items:center;
}
.pontos{
    border: var(--tamanho) solid var(--cor-pontos);
    border-radius: 50%;
}