body {
    font-family: Arial, sans-serif;
    background-color:  #093774;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: 6%;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#btn {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

#foto img {
    border-radius: 50%;
    border-color: rgb(204, 204, 204);
    border-width: 3px;
    border-style:solid;
    width: 100px;
    margin-bottom: 5%;
}

#foto {
    text-align: center;
}

#cadastro {
  padding: 10px 20px;
  color: #474747;
  font-size: 24;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  margin-top: 0px;
  letter-spacing: 2px
}

#EPTRAN {
  padding: 10px 20px;
  color: #ffffff;
  font-size: 34px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  margin-top: 0px;
  letter-spacing: 2px
}

.ESS {
    color: #000000;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.login-box {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 330px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.987);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

  .login-box .user-box {
    position: relative;
}
  
.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #474747;
    margin-bottom: 25px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    background: transparent;
 }
  
.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #474747;
    pointer-events: none;
    transition: .5s;
}
  
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #696969;
    font-size: 12px;
}
  
.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #000000;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    margin-top: 0px;
    letter-spacing: 2px
}
  
  .login-box a span {
    position: absolute;
    display: block;
}

  
.login-box a span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ffffff);
    animation: btn-anim1 2s linear infinite;
}

.b {
    color: red;
}

.date-box {
    position: relative;
}
  
.date-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 25px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    background: transparent;
}
  
.date-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #474747;
    pointer-events: none;
    transition: .5s;
}
  
.date-box input:focus ~ label,
.date-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #696969;
    font-size: 12px;
}

.date-box input:focus,
.date-box input:valid {
    color:#696969;

}