body {
    background-color:#ffffff;
    background-image: url(imagens/Rua.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    margin: 0%;

}
header {
    background-color:#093774;
}

#sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu{
    margin-left: 2%;
}
#logopref{
    margin-right: 2%;
    justify-content: center;
    align-items: center;
}

#eptran {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}

button {
    all: unset;
    cursor: pointer;
    outline: revert;
}

#linhainicio {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    background-color: black;
}

#title{
    margin-left: 5%;
    color:black;
    background-color:white;
    text-decoration:underline;
}

.darkmode {
    color: white;
    margin-left: 54%;
}

.darkmode button {
    
}